<div class="navbar text-white bg-slate-800 px-32">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/">James McNee</a>
        <div class="flex">
            <a href="https://www.linkedin.com/in/james-mcnee/" class="m-0.5">
                <img class="social-icon" width="24px" height="24px" title="LinkedIn" alt="LinkedIn Social" src="/img/social/linkedin.png"
                     app-analytics anayticsCategory="navigation" anayticsAction="click" anayticsLabel="header-linkedin-link" />
            </a>
            <a href="https://github.com/JamesMcNee" class="m-0.5">
                <img class="social-icon" width="24px" height="24px" title="GitHub" alt="GitHub Social" src="/img/social/github.png"
                     app-analytics anayticsCategory="navigation" anayticsAction="click" anayticsLabel="header-github-link" />
            </a>
            <a href="https://stackoverflow.com/users/3018652/james-macca" class="m-0.5">
                <img class="social-icon" width="24px" height="24px" title="Stack Overflow" alt="Stack Overflow Social" src="/img/social/stackoverflow.png"
                     app-analytics anayticsCategory="navigation" anayticsAction="click" anayticsLabel="header-stack-overflow-link" />
            </a>
        </div>
        {% set navPages = collections.all | eleventyNavigation %}
        <ul>
            {% for entry in navPages %}
                <li class="inline">
                    <a
                            href="{{ entry.url }}"
                            class="uppercase text-sm py-1 px-2 rounded mr-4 inline-block
         {{'bg-slate-900 text-white' if entry.url in page.url
                            else 'text-white hover:text-gray-300'}}">
                        {{ entry.title }}
                    </a>
                </li>
            {% endfor %}
    </div>
    <div class="flex-none">
        <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                <div class="w-10 rounded-full">
                    <img src="/img/me.jpg" />
                </div>
            </label>
        </div>
    </div>
</div>