{% for post in postslist | reverse %}
    <div class="card md:card-side bg-base-100 shadow-xl my-2">
        <figure class="md:w-[40%] md:min-w-[40%] md:max-w-[40%]">
            <img src="/img/{{ post.data.image.path }}" alt="{{ posts.data.image.alt }}" class="rounded-xl h-full" {% if loop.first %}fetchpriority="high"{% elseif loop.index0 > 1 %}loading="lazy"{% endif %}/>
        </figure>
        <div class="card-body">
            <div class="flex">
                <span class="flex-1"></span>
                <span class="italic text-sm"><i class="ri-hourglass-2-fill mr-1"></i>{{ post.content | readTime }}</span>
            </div>
            <h2 class="card-title">
                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
            </h2>
            <p>{{ post.data.synopsis }}</p>
            <div class="flex flex-wrap">
                {% for tag in post.data.labels %}
                    <a href="{{ ('/tags/' + tag | lower | slugify) }}">
                        <div class="badge badge-secondary mx-0.5 my-1 p-3">{{ tag | lower }}</div>
                    </a>
                {% endfor %}
            </div>
            <div class="card-actions justify-end">
                <a href="{{ post.url | url }}">
                    <button class="btn btn-neutral">Read it!</button>
                </a>
            </div>
        </div>
    </div>
{% endfor %}