{%- from "../system/component.njk" import component -%}
<!doctype html>
<html lang="en" data-theme="fantasy" class="h-full">
<head>
    <title>{{ title }} - James McNee</title>
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link rel="preload" href="/styles/library/remix/remixicon.min.css" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/styles/library/remix/remixicon.min.css">
    </noscript>

    <link rel="preload" href="/styles/library/prism-coldark.css" as="style"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/styles/library/prism-coldark.css">
    </noscript>

    <script type="text/javascript" src="/scripts/utilities.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ title }}" />

    {% if layout == "layouts/post.njk" %}
    <meta property="article:author" content="James McNee">
    <meta property="og:type" content="article">

    {% for tag in labels %}
    <meta property="article:tag" content="{{ tag }}">
    {% endfor %}
    {% if synopsis %}
    <meta name="description" content="{{ synopsis }}">
    <meta name="og:description" content="{{ synopsis }}">
    {% endif %}

    {% if image.path %}
    <meta property="og:image" content="https://jamesmcnee.com/img/{{ image.path }}" />
    <meta property="og:image:alt" content="image.alt" />
    {% endif %}
    {% endif %}
</head>
<body class="h-full flex flex-col">
{% include "../components/navigation.njk" %}
{{ content | safe }}
{% include "../components/footer.njk" %}
</body>
</html>
