{%- from "../system/component.njk" import component -%}
<!doctype html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/custom-element.css"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/styles/library/remix/remixicon.css"/>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% include "../components/navigation.njk" %}
{{ content | safe }}
<script src="/assets/main.js"></script>
</body>
</html>
