---
layout: layouts/base.njk
---
<div class="lg:mx-24 xl:mx-48 p-2 md:p-12">
    <div class="text-center mb-8">
        <h1 class="text-3xl">{{ title }}</h1>
        <div class="flex flex-row content-center italic text-sm">
           <time class="flex-1 text-right">{{ date | readableDate }}</time>
            <div class="divider divider-horizontal"></div>
            <span class="flex-1 text-left"><i class="ri-hourglass-2-fill mr-1"></i>{{ content | readTime }}</span>
        </div>
        <div class="divider"><i class="ri-pen-nib-line"></i></div>
    </div>
    {% if image.path | length %}
        <div class="mx-6 float-left w-3/12">
            <img alt="{{ image.alt }}" class="border-black border-4" width="100%" src="/img/{{ image.path }}">
            <p class="text-xs text-gray-500 text-center italic">{{ image.caption | safe }}</p>
        </div>
    {% endif %}
    <article>{{ content | safe }}</article>
</div>