---
title: Uses
layout: layouts/base.njk
---
<div class="hero bg-slate-800 text-white">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">James McNee</h1>
            <p class="">Here you will find a list of all the tools I use day to day</p>
            <div class="inline-flex w-full justify-center">
                <img width="32px" height="32px" src="/img/uses/intellij.svg" alt="The IntelliJ product logo"/>
                <img width="32px" height="32px" src="/img/uses/Webstorm.svg" alt="The Webstorm product logo"/>
                <img width="32px" height="32px" src="/img/uses/Goland.svg" alt="The GoLand product logo"/>
                <img width="32px" height="32px" src="/img/uses/Datagrip.svg" alt="The DataGri product logo"/>
            </div>
        </div>
    </div>
</div>
<div class="lg:mx-28 xl:mx-48 2xl:mx-64 p-2 md:p-12">
    <article>
        <article>{{ content | safe }}</article>
    </article>
    <div id="comment-container">
        <div class="divider"><i class="ri-question-answer-line"></i></div>
        <span class="text-xl">Comments</span>
        <p>If you have any comments or questions on any of the tech I use, then please do share them!</p>

        <script type="text/javascript" async src="/scripts/giscus.js"></script>
    </div>
    <div class="divider"><i class="ri-pen-nib-line"></i></div>
    <div class="text-right">
        <p class="m-0">Spotted a mistake?</p>
        <a href="https://github.com/JamesMcNee/static-blog-site/blob/{% commitShaOrBranch %}/{{ page.inputPath }}">Edit on GitHub <i class="ri-github-fill"></i></a>
    </div>
</div>