---
title: Blog
layout: layouts/base.njk
pagination:
    data: collections.posts
    size: 4
    reverse: true
---
{% set postslist = pagination.items | reverse %}
<div class="lg:mx-24 xl:mx-48 p-12">
    {% include "components/postslist.njk" %}
    <div class="flex">
        <div class="flex-1"></div>
        <div class="join">
            <a href="{{ pagination.href.previous }}">
                <button class="join-item btn">«</button>
            </a>
            <button class="join-item btn">{{ pagination.pageNumber + 1 }}</button>
            <a href="{{ pagination.href.next }}">
                <button class="join-item btn">»</button>
            </a>
        </div>
    </div>
</div>