---
title: Page Not Found
layout: layouts/base.njk
permalink: 404.html
---
<div class="lg:mx-24 xl:mx-48 p-6 md:px-12 flex-1">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl">404</h1>
            <p class="mb-4 text-3xl tracking-tight font-bold md:text-4xl">Page Not Found!</p>
            <p class="mb-4 font-light">It seems that whatever you were looking for, has unfortunately,
                disappeared into the void. It's unlikely that it will resurface, but sometimes these things do happen...</p>
            <a href="/">
                <button class="btn btn-active btn-secondary">Go Home</button>
            </a>
        </div>
    </div>
</div>
