---
title: Home
layout: layouts/base.njk
pagination:
    data: collections.posts
    size: 4
    reverse: true
permalink: "{% if pagination.pageNumber == 0 %}index.html{% elif pagination.pageNumber > 0 %}home/page-{{ pagination.pageNumber + 1 }}/index.html{% endif %}"

---

{% set postslist = pagination.items | reverse %}
<script type="text/javascript">
    function hideSearchResults() {
        document.getElementById('search-results-container').classList.add('invisible')
        document.getElementById('search-results-container').classList.remove('visible')
    }

    function showSearchResults() {
        document.getElementById('search-results-container').classList.remove('invisible')
        document.getElementById('search-results-container').classList.add('visible')
    }

    async function search(term) {
        if (!term) {
            hideSearchResults()
            return
        }
        addOnClickOutsideListener(document.getElementById('search-results-container'), element => {
            element.classList.add('invisible')
            element.classList.remove('visible')
        })

        showSearchResults()

        const feedResponse = await fetch('/feed.json')
        const feed = await feedResponse.json()

        const filtered = feed.items.filter(item => `${item.title}${item.synopsis}`.toLowerCase().includes(term.toLowerCase()))

        const resultsDiv = document.getElementById("search-results")

        if (filtered.length === 0) {
            resultsDiv.innerHTML = 'Nothing found...'
            return
        }

        let compiledString = ''

        for (let i = 0; i < filtered.length; i++) {
            const post = filtered[i]
            const card = `<div class="cursor-pointer" onclick="window.location = '${post.path}';"><a class="font-bold mb-0" href="${post.path}">${post.title}</a><p class="mb-0">${post.synopsis}</p></div>`
            compiledString = `${compiledString}${card}`

            if (i !== filtered.length - 1) {
                compiledString = `${compiledString}<span class="divider mt-0.5 mb-0.5"></span>`
            }
        }

        resultsDiv.innerHTML = compiledString
    }
</script>
<div class="lg:mx-24 xl:mx-48 p-6 md:px-12">
    <div class="flex">
        <span class="flex-1"></span>
        <div>
            <div class="form-control w-full max-w-xs">
                <label class="label" for="search">
                    <span class="label-text">Search Posts:</span>
                    <span class="label-text-alt">e.g. "Patch"</span>
                </label>
                <input id="search" autocomplete="off" type="search" placeholder="Type here" class="input input-bordered w-full max-w-xs"
                    onkeyup="search(event.target.value)" />
            </div>
            <div id="search-results-container" style="background-color: hsl(var(--b1))" class="card shadow-xl absolute border-gray-600 border-solid border-2 translate-y-2 left-0 ml-[2%] w-[94%] z-50 md:left-auto md:w-96 md:-translate-x-1/2 lg:-translate-x-1/4 invisible">
                <div id="search-results" class="card-body p-4 text-sm max-h-96 overflow-y-scroll"></div>
            </div>
        </div>
    </div>
    {% include "components/postslist.njk" %}
    <div class="flex">
        <div class="flex-1"></div>
        <a href="/rss.xml" class="contents">
            <div class="relative mt-auto mb-auto mr-2 w-1 h-1 bg-orange-500 rounded-full flex justify-center items-center text-center p-4 shadow-xl">
                <i class="ri-rss-fill text-white"></i>
            </div>
        </a>
        <div class="join">
            <a href="{{ pagination.href.previous }}">
                <button class="join-item btn {% if not pagination.href.previous %}btn-disabled{% endif %}">«</button>
            </a>
            <button class="join-item btn">{{ pagination.pageNumber + 1 }}</button>
            <a href="{{ pagination.href.next }}">
                <button class="join-item btn {% if not pagination.href.next %}btn-disabled{% endif %}">»</button>
            </a>
        </div>
    </div>
</div>
